html,
body,
#root {
  height: 100%;
}

body {
  min-width: 1440px;
}

@font-face {
  font-family: 'FiraCode';
  src: url(./FiraCode-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

input {
  outline: none;
}

textarea {
  resize: none;
}
