.AdminBox {
  height: 100%;
}

.ContentBox {
  width: calc(100% - 160px);
  height: 100%;
  margin-left: 160px;
  display: flex;
  flex-direction: column;
}

.MainBox {
  padding: 20px 20px 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
