.articleBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom: 1px solid #ccc;
}
.articleTitleBox {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}
.articleTitle {
  flex: 2 1;
  height: 100%;
  line-height: 100%;
  border: none;
  outline: none;
  font-size: 24px;
  padding: 0 24px;
}
.rightBox {
  position: relative;
  display: flex;
  flex: 1 1;
  height: 100%;
  justify-content: end;
  align-items: center;
}

.tooltip,
.draftsBtn,
.publishBox {
  margin-right: 20px;
}

.tooltip {
  color: #c9cdd4;
}

.commonBtn {
  font-size: 16px;
  padding: 6px 16px;
  outline: none;
  border-radius: 2px;
  background-color: white;
  border: 1px solid #1d7dfa;
  color: #1d7dfa;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s;
}
.commonBtn:hover {
  border-color: #388eff;
  color: #388eff;
}
.primaryBtn {
  font-size: 16px;
  padding: 6px 16px;
  outline: none;
  border-radius: 2px;
  background-color: #1d7dfa;
  border: 1px solid #1d7dfa;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s;
}
.primaryBtn:hover {
  background-color: #388eff;
}

.publishContent {
  position: absolute;
  top: 75px;
  right: 10px;
  width: 600px;
  height: 700px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 40%);
}
.publishContent::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  right: 20px;
  top: -8px;
  border: 1px solid #ccc;
  border-bottom-color: transparent;
  border-right-color: transparent;
  background-color: white;
  transform: rotate(45deg);
}

.editBox {
  flex: 1 1;
  display: flex;
  height: calc(100% - 80px);
  max-height: calc(100% - 80px);
  min-height: calc(100% - 80px);
}
.inputRegion {
  flex: 1 1;
  padding: 20px;
  resize: none;
  border: 1px solid #d9d9d9;
}

.showRegion {
  flex: 1 1;
  padding: 20px;
  border: 1px solid #d9d9d9;
  overflow-y: auto;
}
.inputRegion:hover,
.showRegion:hover {
  border-color: #40a9ff;
}

.fromTitle {
  padding: 24px 20px 16px 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1d2129;
  border-bottom: 1px solid #e5e6eb;
}
.formItem {
  display: flex;
  margin: 20px 20px 32px;
}
.formItemLabel {
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 32px;
}
.formItemLabel.require::before {
  content: '*';
  color: #f53f3f;
  vertical-align: -2px;
}
.formItemContent {
  flex: auto;
  margin: 0 20px;
}
.formItemContent .ant-select {
  width: 100%;
}

.abstract {
  position: relative;
}

.abstractContent {
  resize: none;
}

.abstractLength {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.formBtn {
  justify-content: end;
}
