.searchBox {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 5px;
  background-color: #b9dfff;
}

.searchBox button {
  height: 40px;
  margin-right: 5px;
}

.modalContent .formItemLabel {
  width: 40px;
  font-size: 16px;
  user-select: none;
  font-weight: 700;
}

/* ————————————————————————————表格区———————————————————————————————— */
.ant-table-thead .ant-table-cell {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.ant-table-tbody .ant-table-cell {
  text-align: center;
}

.ant-modal-title {
  font-weight: 700;
}

/* ——————————————————————————————显示区markdown样式—————————————————————————————— */
/* 表格 */
.markdownStyle table {
  margin: 20px auto;
  border: 1px solid #000;
  border-spacing: 0; /*去掉单元格间隙*/
  text-align: center;
}
.markdownStyle table th,
.markdownStyle table td {
  padding: 6px 14px;
  border: 1px solid #000;
}
/* h1 h2 h3 h4 h5 h6 p */
/* .markdownStyle h1,
.markdownStyle h2,
.markdownStyle h3,
.markdownStyle h4,
.markdownStyle h5,
.markdownStyle h6,
.markdownStyle p {
  margin: 0.3em;
} */
/* 行内代码 */
.markdownStyle code {
  color: red;
  background-color: #eeeeee;
  padding: 0 4px;
}

/* 图片 */
.markdownStyle p img {
  display: block;
  max-width: 100%;
  margin: 14px auto;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.markdownStyle blockquote {
  background-color: #dfdfdf;
  padding: 14px 40px;
  font-size: 18px;
  border-radius: 20px;
  border: 2px rgb(105, 105, 105) dashed;
}
.markdownStyle strong {
  text-decoration: underline;
}

.markdownStyle blockquote p {
  margin: 0;
}
/* ———————————————————————————————————————————————————————————— */
