.searchBox {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 5px;
  background-color: #b9dfff;
}

.searchBox button {
  height: 40px;
  margin-right: 5px;
}

.modalContent .formItemLabel {
  width: 40px;
  font-size: 16px;
  user-select: none;
  font-weight: 700;
}

/* ————————————————————————————表格区———————————————————————————————— */
.ant-table-thead .ant-table-cell {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.ant-table-tbody .ant-table-cell {
  text-align: center;
}

.ant-modal-title {
  font-weight: 700;
}
