.addArticleBtn {
  margin-right: 5px;
}
.searchInput {
  height: 40px;
  width: 300px;
  border: none;
  outline: none;
  margin-right: 5px;
}
.searchClass {
  width: 300px;
  margin-right: 5px;
}
.searchTag {
  width: 300px;
  margin-right: 5px;
}
