.outlineBox {
  display: flex;
  flex: 0 0 140px;
  height: 140px;
}

.statisticRegion {
  flex-direction: row;
  margin-top: 20px;
  display: flex;
  flex: 0 0 140px;
  height: 140px;
}

.chart-class-tag {
  margin-top: 20px;
  display: flex;
  height: calc(100% - 320px)
}
