.chartBox {
  position: relative;
  height: 100%;
  flex: 2 1;
  width: 50%;
}
.chartBox:hover {
  box-shadow: 0 0 10px rgb(0 0 0 / 40%);
}
.chartTitle {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 18px;
}
